<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <title>재미 팡팡!!! 수익 팡팡!!! 스톡팡</title>
    <meta name="description" content="재미 팡팡!!! 수익 팡팡!!! 스톡팡">
    <meta property="og:type" content="스톡팡">
    <meta property="og:title" content="재미 팡팡!!! 수익 팡팡!!!">
    <meta property="og:description" content="주식 정보 공유">
    <meta property="og:url" content="http://www.stockpang.kr">


    <link href="~/Content/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/lib/adminmart-lite/dist/css/style.min.css" rel="stylesheet">
    <script src="/Content/lib/jquery/dist/jquery.min.js"></script>
    <script src="/Content/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/Content/lib/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="/Content/lib/adminmart-lite/dist/js/app-style-switcher.js"></script>
    <script src="/Content/lib/adminmart-lite/dist/js/feather.min.js"></script>
    <script src="/Content/lib/adminmart-lite/dist/js/sidebarmenu.js"></script>
    <script src="/Content/lib/adminmart-lite/dist/js/custom.min.js"></script>
    <script src="/Content/lib/adminmart-lite/assets/extra-libs/c3/d3.min.js"></script>
    <script src="/Content/lib/adminmart-lite/assets/extra-libs/c3/c3.min.js"></script>
    <script src="/Content/lib/adminmart-lite/assets/libs/chartist/dist/chartist.min.js"></script>
    <script src="/Content/lib/adminmart-lite/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="/Content/lib/adminmart-lite/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="/Content/lib/adminmart-lite/assets/extra-libs/jvector/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/Content/lib/adminmart-lite/dist/js/pages/dashboards/dashboard1.min.js"></script>

    <script src="/Content/lib/adminmart-lite/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="/Content/lib/adminmart-lite/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href="~/Content/lib/adminmart-lite/assets/extra-libs/c3/c3.min.css" rel="stylesheet">
    <link href="~/Content/lib/adminmart-lite/assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
    <link href="~/Content/lib/adminmart-lite/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
    <link href="~/Content/StockPang.css" rel="stylesheet" />
    <!-- Sweet Alert-->
    <!-- Optional: include a polyfill for ES6 Promises for IE11 -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!-- Sweet Alert END-->

    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/image/StockPang_Logo_P.png">
</head>

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        <header class="topbar" data-navbarbg="skin6">
            <nav class="navbar top-navbar navbar-expand-md">
                <div class="navbar-header" data-logobg="skin6">
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
                        <i class="ti-menu ti-close"></i>
                    </a>
                    <div class="navbar-brand">
                        <!-- Logo icon -->
                        <a href="/">
                            <span class="logo-text">
                                <!-- dark Logo text -->
                                <!--<img src="/Content/lib/adminmart-lite/assets/images/logo-starcraft-remastered.png" alt="homepage" class="dark-logo" />-->
                                <img src="~/Content/image/StockPanf_Logo_PR.png" class="dark-logo" style="width:190px; height:65px" /> 
                                <!--<img src="~/Content/image/StockPanf_Logo_PD.png" class="dark-logo" style="width:190px; height:65px" /> -->
                                <!-- Light Logo text -->
                                <!--<img src="/Content/lib/adminmart-lite/assets/images/logo-starcraft-remastered.png" class="light-logo" alt="homepage" />-->
                                <img src="~/Content/image/StockPanf_Logo_PR.png" class="light-logo" style="width:190px; height:65px" />
                                <!--<label class="light-logo">STOCKPANG</label> -->
                            </span>
                        </a>
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Toggle which is visible on mobile only -->
                    <!-- ============================================================== -->
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
                       data-toggle="collapse" data-target="#navbarSupportedContent"
                       aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="ti-more"></i>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                   
                    <div style="margin-left: 20px; vertical-align: central; width: 50%">
                        재미 팡팡!!! 수익 팡팡!!! 스톡팡~~~
                    </div>


                    <div class="float-right" style="margin-right:20px; text-align:right; width:50%">
                        <!-- Full width modal -->
                        @if (Request.Cookies.Get("USER_ID") == null)
                        {
                            <button type="button" class="btn btn-info" onclick="location.href = '/Login/Login'">Login</button>
                        }
                        else
                        {
                            <img src="~/Content/image/Login_1.jpeg" class="rounded-circle" width="40" height="40" asp-append-version="true" />
                            <span class="ml-2 d-none d-lg-inline-block">
                                <span>Hello,</span> <span class="text-dark">@Request.Cookies["USER_ID"].Values[0] 님 어서오세요</span>
                            </span>
                            <button type="button" class="btn btn-info" onclick="location.href = '/Login/LogOut'">
                                LogOut
                            </button>
                        }

                    </div>


                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <div class="scroll-sidebar" data-sidebarbg="skin6">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link" href="/"
                               aria-expanded="false">
                                <i data-feather="home" class="feather-icon"></i><span class="hide-menu">홈으로</span>
                            </a>
                        </li>
                        <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu">종목</span></li>
                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link" href="/Home/StockList"
                               aria-expanded="false">
                                <i data-feather="file-text" class="feather-icon"></i><span class="hide-menu">
                                    주식종목
                                </span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link" href="/Home/StockList2"
                               aria-expanded="false">
                                <i data-feather="file-text" class="feather-icon"></i><span class="hide-menu">
                                    주식종목(성장율)
                                </span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link" href="/Home/StockReg"
                               aria-expanded="false">
                                <i data-feather="file-text" class="feather-icon"></i><span class="hide-menu">
                                    종목등록
                                </span>
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                @RenderBody()
            </div>
            <footer class="footer text-center text-muted">
                <a href="http://www.stockpang.kr">재미 팡팡!!! 수익 팡팡!!! 스톡팡~~~</a>.
                <label id="foot"></label>
            </footer>
            <!-- ============================================================== -->
            <!-- End Page wrapper  -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Wrapper -->
        <!-- ============================================================== -->
        <!-- End Wrapper -->
        <!-- ============================================================== -->
        <!-- All Jquery -->
        <!-- ============================================================== -->
    </div>

    <!--# 로그인 화면 --> 
    <div id="login-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center mt-2 mb-4">
                        <a href="index.html" class="text-success">
                            <span>
                                <img class="mr-2" src="../assets/images/logo-icon.png"
                                     alt="" height="18"><img src="../assets/images/logo-text.png" alt=""
                                                             height="18">
                            </span>
                        </a>
                    </div>
                    <form action="#" class="pl-3 pr-3">
                        <div class="form-group">
                            <label for="loginid">Login ID</label>
                            <input class="form-control" type="text" id="loginid"
                                   required="" placeholder="아이디를 넣어세요">
                        </div>
                        <div class="form-group">
                            <label for="password1">Password</label>
                            <input class="form-control" type="password" required=""
                                   id="password1" placeholder="패스워드를 넣어세요">
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input"
                                       id="customCheck2">
                                <label class="custom-control-label"
                                       for="customCheck2">아이디 기억</label>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-rounded btn-primary" type="submit">
                                로그인
                            </button>
                        </div>
                    </form>

                    <form action="#" class="pl-5 pr-5">
                        <div style="font-size:small">
                            <label>회원이 아니시면? </label>
                            <a href="#">회원가입</a>  
                        </div>

                    </form>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


</body>
</html>
<script>
    $(document).ready()
    {
        var Note = document.getElementById("Note");
        Note.innerHTML = "1";

        var Datas = document.createElement('a');

        const value = "<a href=\"javascript:"
         + "void(0)\""
         + "class=\"message-item d-flex align-items-center border-bottom px-3 py-2\">"
         + "<div class=\"btn btn-danger rounded-circle btn-circle\" style=\"width:50px\">"
         + "<i data-feather=\""
         + "message-square"                                                     //여기는 아이콘
         + "\" class=\"text-white\">"
         + "</i>"
         + "</div>"
         + "<div class=\"w-75 d-inline-block v-middle pl-2\">"
         + "<h6 class=\"message-title mb-0 mt-1\">"
         + "Luanch Admin"                                                       //여기는 보낸사람
         + "</h6>"
         + "<span class=\"font-12 text-nowrap d-block text-muted\">"
         + "Just see the my new admin! 글자가 더 길어지면 어떻게 되는 것일까??" //여기는 메시지
         + "</span>"
         + "<span class=\"font-12 text-nowrap d-block text-muted\">"
         + "9:30 AM"                                                            //여기는 보낸시간
         + "</span>"
         + "</div>"
         + "</a>"

        Datas.innerHTML = value;

        document.getElementById("NoteData").appendChild(Datas);

    }
</script>

<script>
    setInterval(function () {
        var Note = document.getElementById("Note");
        Note.innerHTML = "2";

        var Datas = document.createElement('a');

        const value = "<a href=\"javascript:"
         + "void(0)\""
         + "class=\"message-item d-flex align-items-center border-bottom px-3 py-2\">"
         + "<div class=\"btn btn-danger rounded-circle btn-circle\" style=\"width:50px\">"
         + "<i data-feather=\""
         + "message-square"                                                     //여기는 아이콘
         + "\" class=\"text-white\">"
         + "</i>"
         + "</div>"
         + "<div class=\"w-75 d-inline-block v-middle pl-2\">"
         + "<h6 class=\"message-title mb-0 mt-1\">"
         + "Luanch Admin"                                                       //여기는 보낸사람
         + "</h6>"
         + "<span class=\"font-12 text-nowrap d-block text-muted\">"
         + "없어지고 새로 생긴 메시지입니당" //여기는 메시지
         + "</span>"
         + "<span class=\"font-12 text-nowrap d-block text-muted\">"
         + "9:30 AM"                                                            //여기는 보낸시간
         + "</span>"
         + "</div>"
         + "</a>"

        Datas.innerHTML = value;

        const myNode = document.getElementById("NoteData");
        myNode.textContent = '';
        myNode.appendChild(Datas);
    }, 10000);
</script>