@{
    ViewBag.Title = "Index";
}


    <label>삼성전자 현재 주가 :</label>
    <label id="SS_VALUE">@ViewBag.Value</label>
    <br />
    <br />

    <table>  
        <tr> <td> << 스톡팡 투자 원칙 : 마음의 평온 >> </tr>
        <tr><td>     1. 욕심을 줄여라.         </td></tr>     
        <tr><td>     2. 좋은 종목을 골라라.    </td></tr>    
        <tr><td>     3. 시장의 흐름을 타라.    </td></tr>    
        <tr><td>     4. 현금을 비축하라.       </td></tr>    
        <tr><td>     5. 천천히 사고 팔아라.    </td></tr>    
        <tr><td>     그리고, 돈을 잃지 마라.    </td></tr>
        <tr> <td> </td></tr>            
    </table>

    <b>
        <br />
        <br />
        코스피Graph 

    </b>
    <div id="cospi-graph" style="background-color:grey; width:300px; height:200px;">



    </div>

    <br />
    <br />



    <script>
        setInterval(function () {
            $.ajax({
                type: "GET",
                url: "/Home/GetValue",
                data: {},
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    successFunc03(response);
                },
            });
            function successFunc03(jsondata) {
                var ss_value = document.getElementById("SS_VALUE");
                ss_value.innerHTML = jsondata;
            }
        }, 1000);
    </script>
