@{
    ViewBag.Title = "Index";
}

<!-- Resources -->
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

<!-- Chart code -->


<!-- <img src="~/Content/image/StockPanf_Logo_PR.png" class="dark-logo" style="width:190px; height:65px" /> <br />  -->
<!-- <img src="~/Content/image/StockPanf_Logo_PD.png" class="dark-logo" style="width:190px; height:65px" /> <br />  -->
<!--
    <label>삼성전자 현재 주가 :</label>
    <label id="SS_VALUE">@ViewBag.Value</label>
    <br />
    <br />
-->
    <table>  
        <tr><td><font color="blue" size="4"> << 스톡팡 투자 원칙 : 마음의 평온 >> </font></td></tr>
    </table>

    <table style="font-size:95%">
        <tr><td>     1. <font color="blue">욕심을 줄여라</font> : 년 목표 수익을 6%~10% 정도로 잡아야 위험한 거래를 하지 않는다. </td></tr>
        <tr><td>     2. <font color="blue">좋은 종목을 골라라</font> : 망하지 않을 기업, 혁신을 만드는 기업. 섹터별로 2~3개 종목으로 총 10~15개 종목  </td></tr>
        <tr><td>     3. <font color="blue">시장의 흐름을 타라</font> : 증시의 상단, 하단을 크게 설정하고 매수, 매도를 결정하라.  </td></tr>
        <tr><td>     4. <font color="blue">현금을 비축하라</font> : 총 투자금액의 30% 내외의 현금을 유지하라. 폭락 시에도 웃는다. </td></tr>
        <tr><td>     5. <font color="blue">천천히 사고 팔아라</font> : 20%씩 나누어서 사고, 30%씩 나누어서 팔아라. 증시는 내일도 열린다. </td></tr>
        <tr><td>     그리고, <font color="red">소중한 돈을 잃지 마라.</font>  </td></tr>
        <tr><td> </td></tr>
    </table>
    <br />
    <table>
        <tr><td>코스피Graph</td></tr>
        <tr><td>현재 코스피 지수:</td> <td id="KOSPI_NOW"> </td> <td>&nbsp</td> <td>어제 코스피 지수:</td> <td id="KOSPI_YD"> </td>  </tr>
    </table>
    <table>
        <tr><td>평균 코스피 지수( </td> <td id="MIN_INDEX_DATE"> </td> <td>~60일):</td> <td id="KOSPI_AVG"> </td> </tr>
    </table>
    <table style="font-size:85%">
        <tr>
            <td>지수상단목표(3.5%):</td>
            <td id="KOSPI_VALUE_H" style="color:red">  </td>
            <td>&nbsp&nbsp</td>
            <td>지수하단목표(3.5%):</td>
            <td id="KOSPI_VALUE_L" style="color:blue">  </td>
        </tr>
    </table>

<!--
    <b>
        <br />
        <label>코스피Graph</label>  <br />
        <label>평균 코스피 지수(60일):</label>  <label id="KOSPI_VALUE"> </label> <br />
        <label>지수상단목표(3.5%):</label>  <label id="KOSPI_VALUE_H" style="color:red"> </label> &nbsp&nbsp
        <label>지수하단목표(3.5%):</label>  <label id="KOSPI_VALUE_L" style="color:blue"> </label>

    </b>
-->

    <div id="chartdiv"></div>

    <!-- Styles -->
    <style>
        #chartdiv {
            width: 100%;
            height: 400px;
        }
    </style>
    <br />
    <br />

<!--
    <script>
        setInterval(function () {
            $.ajax({
                type: "GET",
                url: "/Home/GetValue",
                data: {},
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    successFunc03(response);
                },
            });
            function successFunc03(jsondata) {
                var ss_value = document.getElementById("SS_VALUE");
                ss_value.innerHTML = jsondata;
            }
        }, 1000);
    </script>
-->

<!-- 현재 KOSPI 지수 가져오기 -->
<!-- 지수를 클로링해서 저장하고 가져옴 -->
<script>

    /*
        변경일시 : ( 21-05-27, CJH 변경)
        변경내용 : {
        기존 : $(document).ready()... 함수에 ajax 함수를 집어넣어 실행하도록 하였는데
        ajax 실행 함수를 따로 빼서 getKospiNow 함수를 만들어 넣어줌
        이후 getKospiNow 함수의 successFuncKospi 함수에서
        건네받은 response(=jsondata) 데이터가 null인경우
        ajax 함수(getKodpiNow)를 실행해줌으로써 성공할때까지 반복한다.
        }
    */

    $(document).ready(function () {
        GetKospiNow();

    });

    function GetKospiNow() {
        $.ajax({
            type: "GET",
            url: "/Home/GetRealTimeKospi",
            data: {},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                successFuncKospi(response);
            }
        });
    }


    function successFuncKospi(jsondata) {
        if (jsondata == "") {
            GetKospiNow();
        }
        else {
            var kospi_now = document.getElementById("KOSPI_NOW");
            var kospi_yd = document.getElementById("KOSPI_YD");

            var kospi_now_v = jsondata;
            var kospi_yd_v = kospi_yd.innerHTML;

            kospi_now.innerHTML = Math.round(kospi_now_v)

            // 1 : 현재지수 > 2:어제지수
            if (kospi_now_v > kospi_yd_v) {
                kospi_now.style.color = "red";
                kospi_yd.style.color = "blue";
            }
            else {
                kospi_now.style.color = "blue";
                kospi_yd.style.color = "red";
            }

            // 챠트 그리기 
            ChartDisplay();
        }
    }
</script>


    <!-- KOSPI 평균지수 가져오기 --> 
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "/Home/AvgKospi/",
                data: {},
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    successFunc1(response);
                },
                error: function (error) {
                    alert('Error!');
                }
            });

            function successFunc1(jsondata) {

                var kospi_avg = document.getElementById("KOSPI_AVG");
                var kospi_value_h = document.getElementById("KOSPI_VALUE_H");
                var kospi_value_l = document.getElementById("KOSPI_VALUE_L");
                var kospi_now = document.getElementById("KOSPI_NOW");
                var kospi_yd = document.getElementById("KOSPI_YD");
                var kospi_min_date = document.getElementById("MIN_INDEX_DATE");

                var kospi_avg_v = jsondata[0].AVG_INDEX;                    //평균지수 
                kospi_min_date.innerHTML = jsondata[0].INDEX_DATE;          //평균시작일자  

                kospi_avg.innerHTML = Math.round(kospi_avg_v);
                kospi_value_h.innerHTML = Math.round(kospi_avg_v * 1.035);
                kospi_value_l.innerHTML = Math.round(kospi_avg_v - (kospi_avg_v * 0.035));

                kospi_yd.innerHTML = Math.round(jsondata[1].AVG_INDEX);     //어제 지수 

            };

        });
        
    </script>

    <!-- Chart Display -->  
    <script>
        function ChartDisplay() {
            $.ajax({
                type: "GET",
                url: "/Home/GetChart/",
                data: {},
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    successFunc(response);
                },
                error: function (error) {
                    alert('Error!');
                }
            });
            function successFunc(jsondata) {

                var arry = jsondata;


                var arryDate = new Array();
                var arryPoint = new Array();
                var arryStart = new Array();
                var arryHigh = new Array();
                var arryLow = new Array();

                for (idx in arry) {
                    arryDate.push(arry[idx].INDEX_DATE);
                    //alert(arryDate);
                    arryPoint.push(arry[idx].INDEX_POINT);
                    //alert(arryPoint);
                    arryStart.push(arry[idx].INDEX_START);
                    //alert(arryStart);
                    arryHigh.push(arry[idx].INDEX_HIGH);
                    //alert(arryHigh);
                    arryLow.push(arry[idx].INDEX_LOW);
                    //alert(arryLow);
                }


                // Themes begin
                am4core.useTheme(am4themes_animated);
                // Themes end

                var chart = am4core.create("chartdiv", am4charts.XYChart);
                chart.paddingRight = 20;

                chart.dateFormatter.inputDateFormat = "yyyy-MM-dd";

                var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
                dateAxis.renderer.grid.template.location = 0;

                var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
                valueAxis.tooltip.disabled = true;

                var series = chart.series.push(new am4charts.CandlestickSeries());

                series.dropFromOpenState.properties.fill = am4core.color("blue");
                series.dropFromOpenState.properties.stroke = am4core.color("blue");
                series.riseFromOpenState.properties.fill = am4core.color("red");
                series.riseFromOpenState.properties.stroke = am4core.color("red");

                series.dataFields.dateX = "INDEX_DATE";
                series.dataFields.valueY = "INDEX_POINT";
                series.dataFields.openValueY = "INDEX_START";
                series.dataFields.lowValueY = "INDEX_LOW";
                series.dataFields.highValueY = "INDEX_HIGH";
                series.simplifiedProcessing = true;
                //series.tooltipText = "Open:{openValueY.value}\nLow:{lowValueY.value}\nHigh:{highValueY.value}\nClose:{valueY.value}";
                series.tooltipText = "Open:{openValueY.value}\nClose:{valueY.value}";

                chart.cursor = new am4charts.XYCursor();

                // a separate series for scrollbar
                var lineSeries = chart.series.push(new am4charts.LineSeries());
                lineSeries.dataFields.dateX = "INDEX_DATE";
                lineSeries.dataFields.valueY = "INDEX_START";
                // need to set on default state, as initially series is "show"
                lineSeries.defaultState.properties.visible = false;

                // hide from legend too (in case there is one)
                lineSeries.hiddenInLegend = true;
                lineSeries.fillOpacity = 0.5;
                lineSeries.strokeOpacity = 0.5;

                var scrollbarX = new am4charts.XYChartScrollbar();
                scrollbarX.series.push(lineSeries);
                chart.scrollbarX = scrollbarX;

                chart.data = jsondata;


                //var ctx = document.getElementById('Grape');

                //var chartOptions = {
                //    legend: {
                //        display: false
                //    }
                //};


                //var chart = new Chart(ctx, {
                //    // The type of chart we want to create
                //    type: 'line',

                //    // The data for our dataset
                //    data: {
                //        labels: arryLabel,
                //        datasets: [{
                //            label: "그래프",
                //            backgroundColor: 'rgb(255, 255, 255)',
                //            borderColor: 'rgb(255, 99, 132)',
                //            data: arryvalues
                //        }]
                //    },

                //    // Configuration options go here
                //    options: chartOptions
                //});
            }
        };
    </script>
